<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>movieServlet</servlet-name>
        <servlet-class>servlets.movieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradeServlet</servlet-name>
        <servlet-class>servlets.GradeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleRegister</servlet-name>
        <servlet-class>servlets.HandleRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByConditionServlet</servlet-name>
        <servlet-class>servlets.searchByConditionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByCondition</servlet-name>
        <servlet-class>servlets.SearchByCondition</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>movieServlet</servlet-name>
        <url-pattern>/movieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeServlet</servlet-name>
        <url-pattern>/GradeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleRegister</servlet-name>
        <url-pattern>/HandleRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByConditionServlet</servlet-name>
        <url-pattern>/searchByConditionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByCondition</servlet-name>
        <url-pattern>/SearchByCondition</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
